<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
  <title>Awesome Menu</title>
</head>
<body>
  <div id="mobile">
    <div id="header">
      <mt-header fixed title="Awesome Menu Platform" id="header-area"></mt-header>
    </div>
    <div id="content">
      <div class="header-picture" id="header-picture">
        <mt-swipe :auto="3000">
          <mt-swipe-item><img src="/static/upload/644887a8-fc34-11e6-879d-207c8f791ecf.jpg"></mt-swipe-item>
          <mt-swipe-item><img src="/static/upload/a43d3252-fc28-11e6-879d-207c8f791ecf.jpg"></mt-swipe-item>
        </mt-swipe>
      </div>
      <div class="contnet-body">
        <div class="left-nav" id="left-nav">
          <div v-for="item in menuList" class="nav-item">
            <a :href='"#item"+ menuList.indexOf(item)'>{{ item }}</a>
          </div>
        </div>
        <div class="right-content">
            <div v-for='menu_item in menuList'>
              <a class="right-content-header" :name='"item"+menuList.indexOf(menu_item)'>{{ menu_item }}</a>
              <div v-for="con in dataSource[menu_item]" class="inner-content">
                <div class="food-img"><img src="/static/upload/644887a8-fc34-11e6-879d-207c8f791ecf.jpg"></div>
                <div class="food-content">
                  <p class="food-title">{{ con.name }}</p>
                  <p class="food-type">分类：{{ con.type }}</p>
                  <p class="food-quantity">今日供应：{{ con.quantity }}<br/>月销量：3000</p>
                  <div class="food-bottom">
                  <p class="food-price">¥{{ con.price }}</p>
                  <i class="material-icons remove-icon">remove_circle</i>
                  <span class="order-number">0</span>
                  <i class="material-icons add-icon">add_circle</i>
                  </div>
                </div>
              </div>
            </div> 
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="footer-left">
        <span class="has-choosed">已选0件</span>
        <span>总价0元</span>
      </div>
      <div class="footer-right">
        待选择
      </div>
    </div>
  </div>
  <script src="<%= htmlWebpackPlugin.options.jspath %>"></script>

</body>
</html>